.form-field {
  margin: 1rem 0;
  width: 100%;

  &__element {
  }

  &__label {
    display: block;
    margin-bottom: 0.5rem;
  }

  &__input {
    display: block;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    width: 100%;
  }

  &__errors {
    border: 1px solid get-from($color-map, error);
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-top: 0.5rem;
  }

  &__error {
    color: get-from($color-map, error);
    font-size: 0.75rem;
  }
}
